/* start Global Rules */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-trasition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 93%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1441px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 98%;
    }
}

@media (max-width: 426px) {
    .container {
        width: 100%;
    }
}

.main-title {
    width: fit-content;
    margin: 0 auto 80px;
    padding: 10px 20px;
    border: 2px solid black;
    font-weight: bold;
    font-size: 1.7rem;
    z-index: 1;
    position: relative;
    transition: var(--main-trasition);
}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

/* end Global Rules */

/* start header */
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

@media (min-width:1441px) {
    .header .container {
        height: 200px;
    }
}


@media (max-width: 426px) {
    .header .container {
        justify-content: center;
    }
}

.header .logo {
    color: var(--main-color);
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
}

@media (min-width:1441px) {
    .header .logo {
        font-size: 5rem;
    }
}


@media (max-width: 426px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .main-nav {
    display: flex;

}

@media (max-width: 426px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav>li:hover .mega-menu {
    z-index: 100;
    opacity: 1;
    top: calc(100% + 1px);
}

.header .main-nav>li>a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 73px;
    overflow: hidden;
    padding: 0 30px;
    font-size: 18px;
    color: black;
    transition: var(--main-trasition);
}


@media (max-width: 426px) {
    .header .main-nav>li>a {
        padding: 0 5px;
        height: 40px;
        font-size: 0.9rem;
    }
}

@media (min-width:1441px) {
    .header .main-nav>li>a {
        font-size: 3rem;
    }
}

.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    background-color: white;
    z-index: -1;
    display: flex;
    gap: 40px;
    opacity: 0;
    top: calc(100% + 50px);
    transition: top var(--main-trasition), opacity var(--main-trasition);

}

@media (max-width:767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
    }
}

.header .mega-menu .image {
    display: none;
}

@media (min-width: 1024px) {
    .header .mega-menu .image {
        display: block;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

.header .mega-menu .links {
    min-width: 250px;
    flex-grow: 1;
}

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width:767px) {
    .header .mega-menu .links:first-of-type {
        border-bottom: 1px solid #e9e6e6;
    }
}

.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-trasition)
}

.header .mega-menu .links li:hover:before {
    width: 100%;
}

.header .mega-menu .links li a {
    display: block;
    padding: 15px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}

@media (max-width:767px) {
    .header .mega-menu .links li a {
        padding: 5px;
    }
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

/* end header */

/* start landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -40px;
    background-color: #ECECEC;
    z-index: -1;
    transform: skewY(-7deg);
    transform-origin: top left;
}

.landing .container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 73px);
    padding-bottom: 120px;
}

@media (min-width: 1441px) {
    .landing .container {
        min-height: calc(100vh - 150px);
    }
}

@media (max-width:767px) {
    .landing .container {
        flex-direction: column;
        padding: 30px 0;
    }
}

.landing .text {
    flex: 1;
}

@media (max-width: 768px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 2.5em;
    letter-spacing: -2px;
    margin: 0;
}

@media (min-width: 1441px) {
    .landing .text h1 {
        font-size: 5rem;
    }
}

@media (max-width: 426px) {
    .landing .text h1 {
        font-size: 1.75em;
    }
}

.landing .text p {
    font-size: 1.4em;
    line-height: 1.7;
    color: #666;
    max-width: 500px;
    margin: 5px 0 0;
}

@media (min-width: 1441px) {
    .landing .text p {
        font-size: 3rem;
        max-width: 100%;
        margin-top: 50px;
        line-height: 2;
    }
}

@media (max-width: 768px) {
    .landing .text p {
        margin: 10px auto;
    }
}


@media (max-width: 426px) {
    .landing .text p {
        font-size: 1.13em;
    }
}

@media (min-width:1441px) {
    .landing .image {
        flex: 1;
    }
}

.landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}

@media (min-width: 1441px) {
    .landing .image img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .landing .image img {
        max-width: 100%;
    }
}

.landing .go-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    color: var(--main-color);
    transform: translateX(-50%);
    transition: var(--main-trasition);
    animation: bouncing 2.5s infinite;
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

@media (min-width: 1441px) {
    .landing .go-down {
        font-size: 30px;
        bottom: 120px;
    }
}

@media (max-width: 768px) {
    .landing .go-down {
        font-size: 10px;
    }
}

/* end landing */

/* start articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .box {
    box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}

.articles .box img {
    width: 100%;
    max-width: 100%;
}

.articles .box .content {
    padding: 20px;
}

.articles .box .content h3 {
    margin: 0;
}

.articles .box .info {
    padding: 20px;
}

/* end articles */

/* start animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    30%,
    50%,
    80%,
    100% {
        transform: translateY(30px);
    }

    20%,
    40%,
    60% {
        transform: translateY(15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;

    }

    100% {
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;

    }

    100% {
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

/* animation animation */