/* start Global Rules */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-trasition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 93%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1441px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 98%;
    }
}

@media (max-width: 426px) {
    .container {
        width: 100%;
    }
}

.main-title {
    width: fit-content;
    margin: 0 auto 80px;
    padding: 10px 20px;
    border: 2px solid black;
    font-weight: bold;
    font-size: 1.7rem;
    z-index: 1;
    position: relative;
    transition: var(--main-trasition);
}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

/* end Global Rules */

/* start header */
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

@media (min-width:1441px) {
    .header .container {
        height: 200px;
    }
}


@media (max-width: 426px) {
    .header .container {
        justify-content: center;
    }
}

.header .logo {
    color: var(--main-color);
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
}

@media (min-width:1441px) {
    .header .logo {
        font-size: 5rem;
    }
}


@media (max-width: 426px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .main-nav {
    display: flex;

}

@media (max-width: 426px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav>li:hover .mega-menu {
    z-index: 100;
    opacity: 1;
    top: calc(100% + 1px);
}

.header .main-nav>li>a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 73px;
    overflow: hidden;
    padding: 0 30px;
    font-size: 18px;
    color: black;
    transition: var(--main-trasition);
}


@media (max-width: 426px) {
    .header .main-nav>li>a {
        padding: 0 5px;
        height: 40px;
        font-size: 0.9rem;
    }
}

@media (min-width:1441px) {
    .header .main-nav>li>a {
        font-size: 3rem;
    }
}

.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    background-color: white;
    z-index: -1;
    display: flex;
    gap: 40px;
    opacity: 0;
    top: calc(100% + 50px);
    transition: top var(--main-trasition), opacity var(--main-trasition);

}

@media (max-width:767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
    }
}

.header .mega-menu .image {
    display: none;
}

@media (min-width: 1024px) {
    .header .mega-menu .image {
        display: block;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

.header .mega-menu .links {
    min-width: 250px;
    flex-grow: 1;
}

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width:767px) {
    .header .mega-menu .links:first-of-type {
        border-bottom: 1px solid #e9e6e6;
    }
}

.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-trasition)
}

.header .mega-menu .links li:hover:before {
    width: 100%;
}

.header .mega-menu .links li a {
    display: block;
    padding: 15px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}

@media (max-width:767px) {
    .header .mega-menu .links li a {
        padding: 5px;
    }
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

/* end header */

/* start landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -40px;
    background-color: #ECECEC;
    z-index: -1;
    transform: skewY(-7deg);
    transform-origin: top left;
}

.landing .container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 73px);
    padding-bottom: 120px;
}

@media (min-width: 1441px) {
    .landing .container {
        min-height: calc(100vh - 150px);
    }
}

@media (max-width:767px) {
    .landing .container {
        min-height: calc(100vh - 150px);
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 768px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 2.5em;
    letter-spacing: -2px;
    margin: 0;
}

@media (min-width: 1441px) {
    .landing .text h1 {
        font-size: 5rem;
    }
}

@media (max-width: 426px) {
    .landing .text h1 {
        font-size: 1.75em;
        letter-spacing: -1px;
    }
}

.landing .text p {
    font-size: 1.4em;
    line-height: 1.7;
    color: #666;
    max-width: 500px;
    margin: 5px 0 0;
}

@media (min-width: 1441px) {
    .landing .text p {
        font-size: 3rem;
        max-width: 100%;
        margin-top: 50px;
        line-height: 2;
    }
}

@media (max-width: 768px) {
    .landing .text p {
        margin: 10px auto;
    }
}


@media (max-width: 426px) {
    .landing .text p {
        font-size: 1.13em;
    }
}

@media (min-width:1441px) {
    .landing .image {
        flex: 1;
    }
}

.landing .image img {
    position: relative;
    width: 600px;
    max-width: 100%;
    animation: up-and-down 5s linear infinite;
}

@media (min-width: 1441px) {
    .landing .image img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .landing .image img {
        max-width: 100%;
    }
}

.landing .go-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    color: var(--main-color);
    transform: translateX(-50%);
    transition: var(--main-trasition);
    animation: bouncing 2.5s infinite;
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

@media (min-width: 1441px) {
    .landing .go-down {
        font-size: 30px;
        bottom: 120px;
    }
}

@media (max-width: 768px) {
    .landing .go-down {
        font-size: 10px;
    }
}

/* end landing */

/* start articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .box {
    box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-trasition), box-shadow var(--main-trasition);
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}

.articles .box img {
    width: 100%;
    max-width: 100%;
}

.articles .box .content {
    padding: 20px;
}

.articles .box .content h3 {
    margin: 0;
}

.articles .box .content p {
    line-height: 1.5;
    color: #777;
}

.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    align-items: center;
}

.articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .box:hover .info i {
    animation: arrow-move 1s cubic-bezier(0, 0.28, 0.36, 1.02) infinite forwards;
}

/* end articles */

/* start gallery */
.gallery {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgb(255 255 255 / 30%);
    opacity: 0;
}

.gallery .box:hover .image::after {
    animation: flashing 0.6s;
}

.gallery .box .image img {
    max-width: 100%;
    transition: var(--main-trasition);
}

.gallery .box:hover img {
    transform: rotate(5deg) scale(1.1);
}

/* end gallery */

/* start features */
.features {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .box .image-holder {
    position: relative;
    overflow: hidden;
}

.features .box .image-holder::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 99%;

}

.features .box .image-holder::after {
    content: "";
    position: absolute;
    bottom: 3px;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-trasition);
}

.features .box:hover .image-holder::after {
    border-width: 0px 500px 170px 0px;
}

.features .box .image-holder img {
    max-width: 100%;
}

.features .box h2 {
    position: relative;
    margin: auto;
    font-size: 30px;
    width: fit-content;
}

.features .box h2::before {
    content: "";
    position: absolute;
    left: 15px;
    bottom: -20px;
    height: 5px;
    width: calc(100% - 30px);
}

.features .box p {
    padding: 25px;
    margin: 30px 0;
    line-height: 2;
    font-size: 20px;
    color: #777;
}

.features .box a {
    display: block;
    width: fit-content;
    margin: 0 auto 30px;
    padding: 10px 30px;
    border: 3px solid ;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    transition: var(--main-trasition);
}

.features .quality .image-holder::before {
    background-color: rgba(244, 63, 54, 0.6);
}

.features .quality h2::before {
    background-color: #f44036;
}

.features .quality a {
    background-image: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 99%;
    background-position: right bottom;
    border-color: #f44036;
    color: #f44036;
}

.features .quality:hover a {
    background-position: left bottom;
    color: white;
}

.features .time .image-holder::before {
    background-color: rgb(0, 150, 136, 60%);
}

.features .time h2::before {
    background-color: #009688;
    left: 10px;
    width: calc(100% - 20px);
}

.features .time a {
    background-image: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 99%;
    background-position: right bottom;
    border-color: #009688;
    color: #009688;
}

.features .time:hover a {
    background-position: left bottom;
    color: white;
}

.features .passion .image-holder::before {
    background-color: rgb(3, 169, 244, 60%);
}

.features .passion h2::before {
    background-color: #03a9f4;
}

.features .passion a {
    background-image: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 99%;
    background-position: right bottom;
    border-color: #03a9f4;
    color: #03a9f4;
}

.features .passion:hover a {
    background-position: left bottom;
    color: white;
}

/* end features */

/* start testimonials */
.testimonials {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .box {
    position: relative;
    background-color: white;
    padding: 15px;
}

.testimonials .box img {
    position: absolute;
    width: 100px;
    height: 100px;
    right: -10px;
    top: -50px;
    border-radius: 50%;
    border: 10px solid var(--section-background);
}

.testimonials .box h3 {
    color: var(--main-color);
    margin: 0;
}

.testimonials .box span {
    display: block;
    margin: 10px 0;
}

.testimonials .box .filled{
    color: #ffc107;
}

.testimonials .box p {
    line-height: 1.5;
    margin: 10px 0 0;
    color: #777;
}


/* end testimonials */

/* start animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    30%,
    50%,
    80%,
    100% {
        transform: translateY(30px);
    }

    20%,
    40%,
    60% {
        transform: translateY(15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;

    }

    100% {
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;

    }

    100% {
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes arrow-move {
    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(-10px);
    }
}

@keyframes flashing {

    0%,
    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* animation animation */