/* start Global Rules */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-trasition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 93%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1441px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 98%;
    }
}

@media (max-width: 426px) {
    .container {
        width: 100%;
    }
}

.main-title {
    width: fit-content;
    margin: 0 auto 80px;
    padding: 10px 20px;
    border: 2px solid black;
    font-weight: bold;
    font-size: 1.7rem;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    transition: var(--main-trasition);
}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

/* end Global Rules */

/* start header */
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

@media (min-width:1441px) {
    .header .container {
        height: 200px;
    }
}


@media (max-width: 426px) {
    .header .container {
        justify-content: center;
    }
}

.header .logo {
    color: var(--main-color);
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
}

@media (min-width:1441px) {
    .header .logo {
        font-size: 5rem;
    }
}


@media (max-width: 426px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .main-nav {
    display: flex;

}

@media (max-width: 426px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav>li:hover .mega-menu {
    z-index: 100;
    opacity: 1;
    top: calc(100% + 1px);
}

.header .main-nav>li>a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 73px;
    overflow: hidden;
    padding: 0 30px;
    font-size: 18px;
    color: black;
    transition: var(--main-trasition);
}


@media (max-width: 426px) {
    .header .main-nav>li>a {
        padding: 0 5px;
        height: 40px;
        font-size: 0.9rem;
    }
}

@media (min-width:1441px) {
    .header .main-nav>li>a {
        font-size: 3rem;
    }
}

.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    background-color: white;
    z-index: -1;
    display: flex;
    gap: 40px;
    opacity: 0;
    top: calc(100% + 50px);
    transition: top var(--main-trasition), opacity var(--main-trasition);

}

@media (max-width:767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
    }
}

.header .mega-menu .image {
    display: none;
}

@media (min-width: 1024px) {
    .header .mega-menu .image {
        display: block;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

.header .mega-menu .links {
    min-width: 250px;
    flex-grow: 1;
}

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width:767px) {
    .header .mega-menu .links:first-of-type {
        border-bottom: 1px solid #e9e6e6;
    }
}

.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-trasition)
}

.header .mega-menu .links li:hover:before {
    width: 100%;
}

.header .mega-menu .links li a {
    display: block;
    padding: 15px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}

@media (max-width:767px) {
    .header .mega-menu .links li a {
        padding: 5px;
    }
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

/* end header */

/* start landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -40px;
    background-color: #ECECEC;
    z-index: -1;
    transform: skewY(-7deg);
    transform-origin: top left;
}

.landing .container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 73px);
    padding-bottom: 120px;
}

@media (min-width: 1400px) {
    .landing .container {
        min-height: calc(100vh - 150px);
    }
}

@media (max-width:1023px) {
    .landing .container {
        min-height: calc(100vh - 150px);
        flex-direction: column;
        justify-content: space-around;
    }
}

.landing .text {
    max-width: 50%;
}

@media (max-width: 1023px) {
    .landing .text {
        max-width: 100%;
        text-align: center;
        margin: auto;
    }
}

.landing .text h1 {
    font-size: 2.5em;
    letter-spacing: -2px;
    margin: 0;
}

@media (min-width: 1400px) {
    .landing .text h1 {
        font-size: 3rem;
    }
}

@media (max-width: 1023px) {
    .landing .text h1 {
        margin-top: 50px;
    }
}

@media (max-width: 426px) {
    .landing .text h1 {
        font-size: 1.75em;
        letter-spacing: -1px;
    }
}

.landing .text p {
    font-size: 1.4em;
    line-height: 1.7;
    color: #666;
    max-width: 100%;
    margin: 5px 0 0;
}

@media (min-width: 1400px) {
    .landing .text p {
        font-size: 2rem;
        margin-top: 50px;
        line-height: 2;
    }
}

@media (max-width: 768px) {
    .landing .text p {
        margin: 10px auto;
    }
}


@media (max-width: 426px) {
    .landing .text p {
        font-size: 1.13em;
    }
}


.landing img {
    position: relative;
    max-width: 50%;
    animation: up-and-down 5s linear infinite;
}

@media (max-width:1023px) {
    .landing img {
        max-width: 100%;
    }
}

.landing .go-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    color: var(--main-color);
    transform: translateX(-50%);
    transition: var(--main-trasition);
    animation: bouncing 2.5s infinite;
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

@media (min-width: 1441px) {
    .landing .go-down {
        font-size: 30px;
        bottom: 120px;
    }
}

@media (max-width: 768px) {
    .landing .go-down {
        font-size: 10px;
    }
}

/* end landing */

/* start articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .box {
    box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-trasition), box-shadow var(--main-trasition);
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}

.articles .box img {
    width: 100%;
    max-width: 100%;
}

.articles .box .content {
    padding: 20px;
}

.articles .box .content h3 {
    margin: 0;
}

.articles .box .content p {
    line-height: 1.5;
    color: #777;
}

.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    align-items: center;
}

.articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .box:hover .info i {
    animation: arrow-move 1s cubic-bezier(0, 0.28, 0.36, 1.02) infinite forwards;
}

/* end articles */

/* start gallery */
.gallery {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgb(255 255 255 / 80%);
    opacity: 0;
}

.gallery .box:hover .image::after {
    animation: flashing 0.6s;
}

.gallery .box .image img {
    max-width: 100%;
    transition: var(--main-trasition);
}

.gallery .box:hover img {
    transform: rotate(5deg) scale(1.1);
}

/* end gallery */

/* start features */
.features {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

@media (min-width: 1440px) {
    .features .container {
        grid-template-columns: repeat(3, minmax(300px, 400px));
        justify-content: center;
        gap: 80px;
    }
}

.features .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .box .image-holder {
    position: relative;
    overflow: hidden;
}

.features .box .image-holder::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 99%;

}

.features .box .image-holder::after {
    content: "";
    position: absolute;
    bottom: 3px;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-trasition);
}

.features .box:hover .image-holder::after {
    border-width: 0px 500px 170px 0px;
}

.features .box .image-holder img {
    max-width: 100%;
}

.features .box h2 {
    position: relative;
    margin: auto;
    font-size: 30px;
    width: fit-content;
}

.features .box h2::before {
    content: "";
    position: absolute;
    left: 15px;
    bottom: -20px;
    height: 5px;
    width: calc(100% - 30px);
}

.features .box p {
    padding: 25px;
    margin: 30px 0;
    line-height: 2;
    font-size: 20px;
    color: #777;
}

.features .box a {
    display: block;
    width: fit-content;
    margin: 0 auto 30px;
    padding: 10px 30px;
    border: 3px solid;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    transition: var(--main-trasition);
}

.features .quality .image-holder::before {
    background-color: rgba(244, 63, 54, 0.6);
}

.features .quality h2::before {
    background-color: #f44036;
}

.features .quality a {
    background-image: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 99%;
    background-position: right bottom;
    border-color: #f44036;
    color: #f44036;
}

.features .quality:hover a {
    background-position: left bottom;
    color: white;
}

.features .time .image-holder::before {
    background-color: rgb(0, 150, 136, 60%);
}

.features .time h2::before {
    background-color: #009688;
    left: 10px;
    width: calc(100% - 20px);
}

.features .time a {
    background-image: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 99%;
    background-position: right bottom;
    border-color: #009688;
    color: #009688;
}

.features .time:hover a {
    background-position: left bottom;
    color: white;
}

.features .passion .image-holder::before {
    background-color: rgb(3, 169, 244, 60%);
}

.features .passion h2::before {
    background-color: #03a9f4;
}

.features .passion a {
    background-image: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 99%;
    background-position: right bottom;
    border-color: #03a9f4;
    color: #03a9f4;
}

.features .passion:hover a {
    background-position: left bottom;
    color: white;
}

/* end features */

/* start testimonials */
.testimonials {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .box {
    position: relative;
    background-color: white;
    padding: 15px;
}

.testimonials .box img {
    position: absolute;
    width: 100px;
    height: 100px;
    right: -10px;
    top: -50px;
    border-radius: 50%;
    border: 10px solid var(--section-background);
}

.testimonials .box img:hover {
    animation: rotation 0.5s linear;
}

.testimonials .box h3 {
    color: var(--main-color);
    margin: 0;
}

.testimonials .box span {
    display: block;
    margin: 10px 0;
}

.testimonials .box .filled {
    color: #ffc107;
}

.testimonials .box p {
    line-height: 1.5;
    margin: 10px 0 0;
    color: #777;
}


/* end testimonials */

/* start team */
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.team .box {
    position: relative;
}

.team .box::before,
.team .box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-trasition);
}

.team .box::before {
    background-color: #f3f3f3;
    width: calc(100% - 60px);
    z-index: -2;
}

.team .box::after {
    background-color: #e4e4e4;
    width: 0;
    z-index: -1;
}

.team .box:hover::after {
    width: calc(100% - 60px);
}

.team .box:hover img {
    filter: grayscale(100%);
}

.team .data {
    display: flex;
    align-items: center;
    padding: 40px 0 20px;
}

.team .data img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-trasition);
}

.team .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team .data .social a {
    color: #777;
}

.team .social a:hover {
    color: var(--main-color);
}


.team .text {
    margin: 0 80px;
}

.team .text h3 {
    margin: 0;
    color: var(--main-color);
    transition: var(--main-trasition);
}

.team .box:hover .text h3 {
    color: #777;
}

.team .text p {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* end team */

/* start services */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .container .box {
    position: relative;
    background-color: white;
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-trasition);
    counter-increment: services;
}

.services .box::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: var(--main-trasition);
}

.services .box:hover:before {
    width: 100%;
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .box i {
    display: block;
    margin: 30px auto 19px;
    color: #d5d5d5;
}

.services .box h3 {
    color: var(--main-color);
    margin: 0 0 30px;
    font-size: 25px;
}

.services .details {
    position: relative;
    padding: 15px;
    text-align: end;
    background-color: #f9f9f9;
}

.services .details::before {
    content: "0" counter(services);
    position: absolute;
    left: 0;
    bottom: 0;
    padding-right: 15px;
    background-color: var(--main-color);
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 80px;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .details::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 99%;
    left: 80px;
    bottom: 0;
    background-color: #d5d5d5;
    transform: skewX(-30deg);
}

.services .details a {
    color: var(--main-color);
}

/* end services */

/* start skills */
.our-skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.our-skills .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .skill h3 span {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--main-color);
}

.our-skills .progress {
    position: relative;
    height: 25px;
    background-color: #eee;
}

.our-skills .progress span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
}

@media (max-width: 768px) {
    .our-skills .container img {
        display: none;
    }
}

/* end skills */

/* start work-steps */
.work-steps {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.work-steps .container {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (max-width:1023px) {
    .work-steps .container {
        flex-direction: column;
    }
}

.work-steps .container>img {
    position: relative;
    max-width: 100%;
    animation: up-and-down 10s linear infinite, arrow-move 10s ease-in-out infinite;
}

.work-steps .info .box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid white;
    background-color: #f6f5f5;
    border-radius: 4px;
    margin: 20px auto;
    padding: 15px;
    overflow: hidden;
}

.work-steps .info .box::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: #ededed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: var(--main-trasition);
}

.work-steps .info .box:hover::before {
    width: 100%;
    height: 100%;
    z-index: 0;
}

@media (max-width:768px) {
    .work-steps .info .box {
        flex-direction: column;
    }
}

.work-steps .box img {
    width: 65px;
    height: 65px;
    margin-right: 15px;
    z-index: 1;
}

@media (max-width:426px) {
    .work-steps .box img {
        width: 50px;
        height: 50px;
    }
}

.work-steps .box .text {
    z-index: 1;
}

.work-steps .box h3 {
    margin-bottom: 0;
}

.work-steps .box p {
    color: #777;
    line-height: 1.5;
}

@media (max-width:768px) {
    .work-steps .box img {
        margin-right: 0;
    }

    .work-steps .box h3,
    .work-steps .box p {
        text-align: center;
        padding: 0 10px;
    }
}

/* end work-steps */

/* start events */
.events {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.events .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.events .container .image img {
    position: relative;
    max-width: 450px;
}


@media (max-width:1024px) {
    .events .container {
        flex-direction: column;
    }

    .events .container .image img {
        max-width: 320px;
    }
}


.events .container .image:hover img {
    animation: rotation 0.5s linear, flashing 0.25s 0.45s linear;
}

.events .info {
    flex: 1;
}

.events .info .time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.events .info .unit {
    border: 1px solid var(--main-color);
    border-radius: 6px;
    margin: 5px;
    text-align: center;
    width: 70px;
    transition: var(--main-trasition);
}

.events .info .unit:hover {
    border-color: var(--main-color-alt);
    background-color: calc(var(--main-color) 0.1%);
}

.events .info .unit span {
    display: block;
}

.events .info .unit span:first-child {
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
    padding: 15px 5px;
    transition: var(--main-trasition);
}

.events .info .unit:hover span:first-child {
    color: var(--main-color-alt);
}

.events .info .unit span:last-child {
    border-top: 1px solid var(--main-color);
    border-radius: 4px;
    background-color: var(--main-color);
    padding: 5px;
    color: white;
    font-size: 14px;
    transition: var(--main-trasition);
}

.events .info .unit:hover span:last-child {
    background-color: var(--main-color-alt);
}


.events .info .title {
    margin: 40px 0 0;
    text-align: center;
    font-size: 30px;
}

.events .info .description {
    line-height: 2;
    color: #777;
    text-align: center;
    font-size: 19px;
}

.events .container .subscribe {
    width: 100%;
}

.events .subscribe form {
    background-color: #f6f5f5;
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

.events .subscribe form input {
    padding: 20px;
    border-radius: 50px;
    border: none;
}

.events .subscribe form input[type="email"] {
    caret-color: var(--main-color);
    color: var(--main-color);
    flex: 1;
}


.events .subscribe form input[type="email"]:focus {
    outline: none;
}

.events .subscribe form input[type="email"]::placeholder {
    color: var(--main-color);
    transition: opacity var(--main-trasition);
}

.events .subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}

.events .subscribe form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.events .subscribe form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
    cursor: pointer;
}

@media (max-width:768px) {
    .events .subscribe form {
        flex-direction: column;
        max-width: 100%;
        padding: 15px 20px;
        gap: 10px;
        border-radius: 6px;
    }

    .events .subscribe form input {
        padding: 10px;

    }
}

/* end events */

/* start pricing */
.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

@media (min-width:1440px) {
    .pricing .container {
        grid-template-columns: repeat(3, minmax(300px, 400px));
        justify-content: center;
        gap: 80px;
    }
}

.pricing .box {
    background-color: white;
    text-align: center;
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    z-index: 1;

}

.pricing .box::before,
.pricing .box::after {
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f5f5;
    z-index: -1;
    transition: var(--main-trasition);
}

.pricing .box::before {
    top: 0;
    left: 0;
}

.pricing .box::after {
    right: 0;
    bottom: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after {
    width: 100%;
}

.pricing .box .label {
    writing-mode: vertical-lr;
    position: absolute;
    top: 0;
    right: 20px;
    padding: 10px 10px 30px;
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
}

.pricing .box .label::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 20px;
    transition: var(--main-trasition) 0.1s;
}

.pricing .box:hover .label::before {
    border-bottom-color: #f6f5f5;
}

.pricing .box .price h3 {
    font-size: 25px;
    margin: 30px auto;
    letter-spacing: -1px;
}

.pricing .box .price img {
    width: 80px;
}

.pricing .box .price span.price {
    display: block;
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
    margin: 25px 0 5px;
}

.pricing .box .price span.period {
    display: block;
    color: #777;
    margin-bottom: 20px;
}

.pricing .box ul {
    text-align: left;
}

.pricing .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .box ul li::before {
    content: "\f00c";
    font: var(--fa-font-solid);
    font-size: 20px;
    padding-right: 5px;
    color: var(--main-color);
}

.pricing .container .box a {
    display: block;
    width: fit-content;
    margin: 40px auto 50px;
    padding: 15px 20px;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    color: var(--main-color);
    font-weight: bold;
    transition: var(--main-trasition);
}

.pricing .container .box:hover a {
    transform: scale(1.1);

}

.pricing .container .box a:hover {
    color: white;
    background-color: var(--main-color-alt);
}

.pricing .popular {
    transform: translateY(-20px);
}

@media (max-width:1088px) {
    .pricing .popular {
        transform: translateY(0);
    }
}

/* end pricing */

/* start animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    30%,
    50%,
    80%,
    100% {
        transform: translateY(30px);
    }

    20%,
    40%,
    60% {
        transform: translateY(15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;

    }

    100% {
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;

    }

    100% {
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes arrow-move {
    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(-10px);
    }
}

@keyframes flashing {

    0%,
    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

@keyframes rotation {
    50% {
        transform: rotate(-5deg) scale(0.9);
    }
}

/* animation animation */